.selectionRadio {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.selectionRadio ul {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  overflow: scroll;
}

.cards img {
  max-width: 10rem;
  max-height: 10rem;
  display: flex;
  border-radius: 10%;
  box-shadow: -1rem 10px 5px -5px #040458;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #719ef1;
  font-size: 1rem;
}

.cards h3 {
  width: 50%;
  text-align: center;
  color: #3577f3;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.filterName {
  width: 100%;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin-top: -5rem;
  list-style-type: none;
  left: 0%;
  color: #3577f3;
}

.filterName ul {
  display: flex;
  justify-content: center;
}
