body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}
#LinkTo404 {
  opacity: 0;
  cursor: grab;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.header {
  pointer-events: none;
  z-index: 1;
  position: fixed;
  width: 100%;
  /* height: 100%; */
}

.footer {
  pointer-events: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mainBody {
  height: 100vh;
  width: 100vw;
}
/* css map HD */
.mapDiv {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
}
.mapHD {
  width: 100%;
  height: 100%;
  align-content: center;
  cursor: crosshair;
}

/* CSS page404 */
.EggDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10% 0 0 0;
  padding: 0;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
}
.EggDiv h2,
h1 {
  font-size: 1.5rem;
  color: aqua;
}
.EggHD {
  z-index: 500;
  width: 50%;
  height: 50%;
  align-content: center;
}
.EggButton {
  background-color: blue;
}

/* Encyclopedia */

.encyclopediaPage {
  display: flex;
  flex-direction: column;
}

/* css Page Heros start*/
.Prodige {
  display: flex;
  flex-direction: column;
  color: white;
}

.Prodige h1 {
  text-align: center;
  margin-top: 75px;
}

.Prodige p {
  text-align: center;
}

.one {
  display: flex;
  align-items: center;
}

.two {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.one img {
  display: flex;
  width: 30%;
  margin: 20px 0;
}

.two img {
  width: 30%;
  margin: 20px 0;
}

.one p {
  padding: 10px;
  font-size: 16px;
}

.two p {
  padding: 10px;
  font-size: 16px;
}

/* MEDIA RESPONSIVE */

@media screen and (min-width: 768px) {
  /* Page Synopsis*/

  .one {
    display: flex;
    align-items: center;
  }

  .two {
    display: flex;
    align-items: center;
  }

  .one img {
    padding: 50px;
    width: 30%;
  }

  .two img {
    padding: 50px;
    width: 30%;
  }

  .one p {
    width: 80ch;
  }

  .two p {
    width: 80ch;
  }
}
/* Page Synopsis*/
.titleHyrules {
  display: flex;
  flex-wrap: wrap;
}

.History {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.synopsis {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleHyrules h1 {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
.synopsis img {
  max-width: 50%;
}

/* NavbarStyle */
.navbar {
  z-index: 5;
  width: 100%;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link button {
  margin: 0 1rem;
  background-color: transparent;
  color: white;
  border: none;
}
.link img {
  max-height: 65px;
  width: auto;
  height: 4vw;
  cursor: pointer;
}

.link a {
  cursor: default;
}

/* style du mode landscape */

.BlackPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1200;
  scroll-behavior: 0;
}

.BlackBouton {
  width: 10%;
  height: auto;
  margin-top: 15%;
}

@media (orientation: landscape) {
  .BlackPage {
    display: none;
    z-index: -100;
  }
}
