body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.header {
  position: absolute;
  width: 100%;
  /* height: 100%; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mainBody {
  height: 100vh;
  width: 100%;
  overflow-x: none;
  overflow-y: hidden;
  display: grid;
}

.mapDiv {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0px;
  right: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.mapHD {
  width: 100%;
  height: auto;
  align-content: center;
}
.encyclopedia {
  overflow: auto;
}

/* Page Synopsis*/
.titleHyrules {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 40rem; */
}

.History {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.synopsis {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titleHyrules h1{
  width: 100%;
  text-align: center;
}

/* NavbarStyle */
.navbar {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: center;
  align-items: center;
  padding-left: 35%;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link button {
  margin: 1rem;
  background-color: transparent;
  color: white;
  border:none ;

}
